@media screen and (max-width: 650px) {
    .container {
        position: relative;
        top: 380px;
        background-color: white;
        margin: 0 auto;
        padding: 0px;
    }
    .category-bundle {
        float: left;
    }
}

@media screen and (min-width: 651px) {
    .container {
        position: absolute;
        background-color: #eaeded;
        top: 380px;
        width: 100%;
        min-width: 400px;
        padding: 0px;
    }
    .category-bundle {
        float: left;
        position: relative;
        left: 150px;
        margin: 0 auto;
    }
}